/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #333;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #5c6bc0;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #3f51b5;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus, select:focus {
  outline: none;
  border-color: #5c6bc0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li strong {
  color: #3f51b5;
}

h3 {
  margin-top: 30px;
}

select {
  margin-bottom: 20px;
}
